._ {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--color-white);
}

.item {
  height: 2rem;
  line-height: 2rem;
}

/*.item input + span,*/
.item label :not(span) {
  margin-left: 1rem;
}
