._ {
  position: relative;
}

.input {
  display: block;
  height: 2rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  color: var(--color-black);
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-blue);
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  /*stroke: var(--color-blue);*/
  fill: var(--color-blue);
  cursor: pointer;
}

.modal {
  position: absolute;
}
